.formDesc h1 {
  font-size: 2rem;
  text-align: center;
}

.formDesc p {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0px 20px 0px 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

.form .label {
  margin: 10px 0 10px 0;
  font-size: 1.5rem;
  align-self: center;
}

.form .input {
  margin: 10px 0 10px 0;
  margin-top: 0px;
  font-size: 1rem;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
}

@media (min-width: 1020px) {
  .formDesc h1,
  .formDesc p {
    text-align: center;
  }
  .form {
    margin-left: 20%;
    margin-right: 20%;
  }
}
