* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.btn {
  display: block;
  width: 250px;
  padding: 30px 0;
  margin: 50px auto;
  background: #4979ff;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  font-size: 2em;
  transition-property: transform, box-shadow;
  transition-duration: 0.4s;
}

.btn:hover {
  background: #507efd;
  transform: scale(0.95);
  box-shadow: 5px 3px 15px -2px rgb(248, 6, 6);
}

.btn-submit {
  display: block;
  width: 250px;
  padding: 20px 0;
  margin: 50px auto;
  background: #4979ff;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.5em;
  transition-property: transform, box-shadow;
  transition-duration: 0.4s;
}

.btn-submit:hover {
  background: #507efd;
  transform: scale(0.95);
  box-shadow: 5px 3px 15px -2px rgb(248, 6, 6);
}

main {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  margin-top: 30px;
}

footer p {
  font-size: 1.5em;
}

.user {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  padding-bottom: 0;
}

.btn-delete {
  display: block;
  width: 250px;
  padding: 30px 0;
  margin: 50px auto 50px;
  background: #4979ff;
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: 2em;
  transition-property: transform, box-shadow;
  transition-duration: 0.4s;
}

.btn-delete:hover {
  background: #507efd;
  transform: scale(0.95);
  box-shadow: 5px 3px 15px -2px rgb(248, 6, 6);
}

.deleted {
  text-align: center;
  font-size: 2em;
}
.deleted-link {
  color: #4979ff;
  text-decoration: underline;
}

.about-desc {
  font-size: 2em;
}

.logo--landing {
  height: auto;
  width: 100%;
}
