.container {
  display: grid;
  gap: 10px;
  grid-template-rows: 0.8fr 0.2fr;
  margin: 10px auto 10px;
  padding: 10px 0;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.logo {
  grid-row: 1/2;
  justify-self: center;
}

.links {
  grid-row: 2/3;
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content: space-evenly;
}

.links a:hover {
  color: #4979ff;
}
